version: '3'
services:
  ids:
    build: .
    ports:
      - "1443:1443"
    networks:
      - isolated_network_net
    cap_add:
      - NET_ADMIN
      - NET_RAW
    privileged: true

networks:
  isolated_network_net:
    driver: bridge
