version: '3'
services:
  pentest:
    build: .
    ports:
      - "2222:22"
      - "3443:3443"
    networks:
      - isolated_pentest_net
    cap_add:
      - NET_ADMIN
      - NET_RAW

networks:
  isolated_pentest_net:
    driver: bridge
