version: '3'
services:
  plc:
    build: .
    ports:
      - "8080:8080"
      - "502:502"
    networks:
      - isolated_plc_net
    cap_add:
      - NET_ADMIN

networks:
  isolated_plc_net:
    driver: bridge
